/*body {
margin: 0;
padding: 0;
font-family: Arial, Helvetica, sans-serif;
color: #dddddd;
}*/

h1, h3 {
margin: 0;
padding: 0;
font-weight: normal;
}
      
a {
color: #EB067B;         /*darkish red, but not as dark as "darkred"*/
}
      
/*input .btn .btn-primary .btn-press {*/
/*color: darkred;*/         /*darker red than #EB067B */
/*}*/

/*div#container {
width: 580px;
margin: 100px auto 0 auto;
padding: 20px;
background: #000;
border: 1px solid #1a1a1a;
}*/

/* SHARED HOVER STYLES */

.triggerp {
font-weight: normal;
font-size: 1.5em;
}

.triggersm {
font-weight: normal;
font-size: 1.0em;
}
         
.poptrig {
display: none;
position: absolute;
padding: 10px;
background: #eeeeee;
color: #000000;
border: 1px solid #1a1a1a;
font-size: 90%;
}

/* GENERIC HOVER POP STYLES */

div#xsmallpop1 {
width: 250px;
}

div#smallpop1 {
width: 350px;
}

div#mediumpop1 {
width: 600px;
}

div#largepop1 {
width: 800px;
}

div#xlargepop1 {
width: 900px;
}

/* MULTIPLE IN-PAGE POP STYLES */

div#inpagepop1 {
width: 300px;
}

div#inpagepop2 {
width: 300px;
}

div#inpagepop3 {
width: 250px;
}

div#inpagepop4 {
width: 200px;
}

div#inpagepop5 {
width: 350px;
}

div#inpagepop6 {
width: 350px;
}

/*div#adminpop1 {
width: 250px;
}

div#project1pop1 {
width: 350px;
}

div#project2pop1 {
width: 350px;
}

div#devpop1 {
width: 250px;
}

div#subpop1 {
width: 250px;
}*/

/* INDIVIDUAL HOVER POP STYLES */

div#dashboardpop1 {
width: 500px;
}

div#dashboardpop2 {
width: 850px;
}

/*div#ticketcreatepop1 {
width: 800px;
}*/

/*div#ticketeditpop1 {
width: 600px;
}*/

/*div#ticketdetpop1 {
width: 800px;
}*/

/*div#ticketdelpop1 {
width: 800px;
}*/

/*div#myprofilepop1 {
width: 350px;
}*/

/*div#changepwpop1 {
width: 350px;
}*/

/*div#registerpop1 {
width: 350px;
}*/

/*div#forgotpwpop1 {
width: 350px;
}*/

/*div#resetpwpop1 {
width: 350px;
}*/

/*div#resetpwconfpop1 {
width: 350px;
}*/

/*div#userlistpop1 {
width: 600px;
}*/

/*div#userdetpop1 {
width: 350px;
}*/

/*div#rolelistpop1 {
width: 600px;
}*/

/*div#projectlistpop1 {
width: 600px;
}*/

/*div#projectspop1 {
width: 350px;
}*/

/*div#projecteditpop1 {
width: 350px;
}*/

/*div#projectdetpop1 {
width: 350px;
}*/

/*div#projectcreatepop1 {
width: 350px;
}*/
