<!-- ============================================================== -->
<!-- Page Content -->
<!-- ============================================================== -->
<div id="page-wrapper">
    <div class="container-fluid">


        <br /><br /><br /><br /><br />

        @if (User.Identity.IsAuthenticated)
        {

            <p>
                You are logged in ...<br />

            </p>

        }
        else
        {

            <p class="blog-comments-login">

                You are not logged in ...<br />
                Please Login or Register ...<br />
            </p>
        }
    
    </div><!-- div class="container-fluid" -->
    
</div><!-- div id="page-wrapper" -->
<!-- ============================================================== -->
<!-- End Page Content -->
<!-- ============================================================== -->