@{
    Layout = "~/Views/Shared/_LayoutTopBar.cshtml";
    //Layout = "~/Views/Shared/_LayoutMenu.cshtml";
}

@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<!-- ============================================================== -->
<!-- Page Header -->
<!-- ============================================================== -->
<div id="wrapper"><!-- This uses id="wrapper" NOT id="page-wrapper" -->
    <div class="container-fluid">

        <br /><br /><br /><br />
        <div class="row">
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 ">
                <a href="#" class="triggerp" id="forgotpwtrig1">
                    <i class="fa fa-bug fa-fw" aria-hidden="true"></i>
                </a>
            </div>
            <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 ">
                <p class="text-success">@ViewBag.StatusMessage</p>
            </div>
        </div><!-- div class="row" -->
        <br />

        <!-- HIDDEN / POP-UP DIV -->
        <div class="poptrig" id="forgotpwpop1">
            <h3>Forgot Password Confirmation</h3>
            <br />
            Please check your email to receive the link to reset your password.<br />
            After you click the link you will be given the opportunity to reset your password.<br />
            <br />
        </div>

        <!-- ============================================================== -->
        <!-- Page Content -->
        <!-- ============================================================== -->

        <h4>
            Please check your email to reset your password.
        </h4>

        <!-- ============================================================== -->
        <!-- End Page Content -->
        <!-- ============================================================== -->
    </div><!-- div class="container-fluid" -->
</div><!-- div id="page-wrapper" -->
<br /><br />

@section scripts{
    <script type="text/javascript">
      $(function() {
        var moveRight = 20;
        var moveDown = 1;

        $('a#forgotpwtrig1').hover(function (e) {
            $('div#forgotpwpop1').show()
            .css('top', e.pageY + moveDown)
            .css('left', e.pageX + moveRight)
            .appendTo('body');
        }, function() {
            setTimeout(function () { $('div#forgotpwpop1').hide(); }, 500);
        });

      });
      //setTimeout(function () { $('div#dashboardpop1').hide(); }, 5000); <== Sets how fast the pop-up disappears after mouse leaving.
    </script>
}

