@{
    Layout = "~/Views/Shared/_LayoutTopBar.cshtml";
    //Layout = "~/Views/Shared/_LayoutMenu.cshtml";
}

@{
    ViewBag.Title = "Reset password confirmation";
}

<!-- ============================================================== -->
<!-- Page Header -->
<!-- ============================================================== -->
<div id="wrapper">
    <!-- This uses id="wrapper" NOT id="page-wrapper" -->
    <div class="container-fluid">
        <!-- div class="container-fluid" -->

        <br /><br /><br /><br /><br />

        <div class="row">
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 ">
                <a href="#" class="triggerp" id="xsmalltrig1">
                    <i class="fa fa-bug fa-fw" aria-hidden="true"></i>
                </a>
            </div>
            <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 ">
                <p class="text-success">@ViewBag.StatusMessage</p>
            </div>
        </div><!-- div class="row" -->
        <br />

        <!-- <a href="#" class="triggerp" id="resetpwconftrig1"> -->
        <!-- <div class="poptrig" id="resetpwconfpop1"> -->
        <!-- <div class="poptrig" id="xsmallpop1"> -->

        <!-- HIDDEN / POP-UP DIV -->
        <div class="poptrig" id="xsmallpop1">
            <h3>@ViewBag.Title</h3>
            <br />
            Your password has been reset.<br />
            You can go to the log in view now by clicking the link and log in with your new password.<br />
            <br />
        </div>

        <!-- ============================================================== -->
        <!-- Page Content -->
        <!-- ============================================================== -->

        <div>
            <p>
                Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
            </p>
        </div>

        <!-- ============================================================== -->
        <!-- End Page Content -->
        <!-- ============================================================== -->
    </div><!-- div class="container-fluid" -->
</div><!-- div id="page-wrapper" -->
<br /><br />

@section scripts{
    <script type="text/javascript">
      $(function() {
        var moveRight = 20;
        var moveDown = 1;

        $('a#xsmalltrig1').hover(function (e) {
            $('div#xsmallpop1').show()
            .css('top', e.pageY + moveDown)
            .css('left', e.pageX + moveRight)
            .appendTo('body');
        }, function() {
            setTimeout(function () { $('div#xsmallpop1').hide(); }, 500);
        });

      });
      //setTimeout(function () { $('div#dashboardpop1').hide(); }, 5000); <== Sets how fast the pop-up disappears after mouse leaving.
    </script>
}
